body { background: #a9b8fa; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 51px; display: flex; }
.block-product-0 { color: #859316; font-size: 16px; margin-bottom: 5px; }
.block-metrics-1 { color: #bdddc9; font-size: 12px; margin-bottom: 5px; }
.block-cluster-2 { color: #1c7740; font-size: 12px; margin-bottom: 5px; }
.block-sms-3 { color: #dc0b3; font-size: 18px; margin-bottom: 5px; }
.block-database-4 { color: #2ea7b1; font-size: 15px; margin-bottom: 5px; }
.block-database-5 { color: #97ae1c; font-size: 17px; margin-bottom: 5px; }